html body {
    border: 0;
    overflow-x: hidden;
    background-color: #047d4d;
}

#content {
    padding-bottom: 100px;
}

.profile-image {
    border: 2px solid #0e9d9d;
    border-radius: 5%;
}

.more-info {
    cursor: help;
    border-bottom: 1px dotted #bebebe;
    color: white;
}

    .more-info:hover {
        border-bottom: 1px solid #cccccc;
    }

.title {
    color: #dddddd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.project-card {
    margin: 10px !important;
    padding: 10px !important;
}

.footer {
    max-height: 200px;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

.github-link {
    border-bottom: 1px solid #bebebe;
}

.badge-ts {
    background: #2b7489 !important;
    text-transform: none !important;
}

.text-align {
    text-align: left;
    padding-top: 10px;
}

@media screen and (max-width: 1200px) {
    .project-card {
        margin: 0px !important;
        padding: 0px !important;
        margin-bottom: 10px !important;
        padding-left: 10px !important;
    }

    .more-info {
        border-bottom: none;
    }

    .text-align {
        text-align: center;
    }

    ul {
        list-style: none;
    }

    h4 {
        text-decoration: underline #2b7489;
    }

    .profile-image-con {
        visibility: collapse;
    }
}
